[submodule "src/vendor/doctrine"]
	path = src/vendor/doctrine
	url = git://github.com/doctrine/doctrine2.git
[submodule "src/vendor/doctrine-migrations"]
	path = src/vendor/doctrine-migrations
	url = git://github.com/doctrine/migrations.git
[submodule "src/vendor/swiftmailer"]
	path = src/vendor/swiftmailer
	url = git://github.com/swiftmailer/swiftmailer.git
[submodule "src/Bundle/DoctrineUserBundle"]
	path = src/Bundle/DoctrineUserBundle
	url = git://github.com/knplabs/DoctrineUserBundle.git
[submodule "src/vendor/symfony"]
	path = src/vendor/symfony
	url = git://github.com/symfony/symfony.git
[submodule "src/vendor/zend"]
	path = src/vendor/zend
	url = http://github.com/zendframework/zf2.git
[submodule "src/vendor/mongodb-odm"]
	path = src/vendor/mongodb-odm
	url = git://github.com/doctrine/mongodb-odm.git
[submodule "src/Bundle/SecurityBundle"]
	path = src/Bundle/SecurityBundle
	url = git://github.com/docteurklein/SecurityBundle.git
[submodule "src/Bundle/TestSessionBundle"]
	path = src/Bundle/TestSessionBundle
	url = git://github.com/knplabs/TestSessionBundle.git
[submodule "src/Bundle/Sensio/FrameworkExtraBundle"]
	path = src/Bundle/Sensio/FrameworkExtraBundle
	url = git://github.com/fabpot/FrameworkExtraBundle.git
[submodule "src/Bundle/ConsoleAutocompleteBundle"]
	path = src/Bundle/ConsoleAutocompleteBundle
	url = git://github.com/docteurklein/ConsoleAutocompleteBundle.git
[submodule "src/vendor/twig"]
	path = src/vendor/twig
	url = git://github.com/fabpot/Twig.git
[submodule "src/Bundle/DoctrineExtensionsBundle"]
	path = src/Bundle/DoctrineExtensionsBundle
	url = git://github.com/docteurklein/DoctrineExtensionsBundle.git
[submodule "src/vendor/doctrine-extensions"]
	path = src/vendor/doctrine-extensions
	url = git://github.com/docteurklein/DoctrineExtensions.git
[submodule "src/vendor/doctrine-data-fixtures"]
	path = src/vendor/doctrine-data-fixtures
	url = git://github.com/doctrine/data-fixtures.git
