[submodule "src/vendor/doctrine"]
	path = src/vendor/doctrine
	url = git://github.com/doctrine/doctrine2.git
[submodule "src/vendor/doctrine-migrations"]
	path = src/vendor/doctrine-migrations
	url = git://github.com/doctrine/migrations.git
[submodule "src/vendor/swiftmailer"]
	path = src/vendor/swiftmailer
	url = git://github.com/swiftmailer/swiftmailer.git
[submodule "src/Bundle/DoctrineUserBundle"]
	path = src/Bundle/DoctrineUserBundle
	url = git://github.com/knplabs/DoctrineUserBundle.git
[submodule "src/vendor/symfony"]
	path = src/vendor/symfony
	url = git://github.com/symfony/symfony.git
[submodule "src/vendor/zend"]
	path = src/vendor/zend
	url = http://github.com/zendframework/zf2.git
[submodule "src/vendor/mongodb-odm"]
	path = src/vendor/mongodb-odm
	url = git://github.com/doctrine/mongodb-odm.git
