<form action="{% route 'contact_index' %}" method="POST" class="contact">

    {% block errors %}
        {% if errors %}
        <ul>
            {% for error in errors %}
                <li>{% trans error.0 with error.1 from validators %}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endblock errors %}
    <ul>
        {{ form.email }}
        {{ form.subject }}
        {{ form.message }}
        <li>
            <input type="submit" value="{% trans 'Send' from 'ContactBundle' %}" />
        </li>
    </ul>
</form>
