parameters: 
  kernel.include_core_classes: false

doctrine_extensions.config:
  sluggable.mongodb: ~
  sluggable.orm: ~
  translatable: ~
  tree: ~

security.config:
  providers:
    main:
      users:
        florian: { password: nairolf, roles: ROLE_USER }
  firewalls:
    login: { pattern: /login, security: true, anonymous: true }
    profiler: { pattern: /_profiler.*, security: true, anonymous: true }
    login_check: { pattern: /login_check, security: true, anonymous: true, form_login: true }
    main:
      pattern:    /.*
      form_login: true
      anonymous:  true
      logout:     { path: /logout, target: /login }
  access_control:
    - { path: /login, role: IS_AUTHENTICATED_ANONYMOUSLY }
    - { path: /login_check, role: IS_AUTHENTICATED_ANONYMOUSLY }
    - { path: /customer.*, role: ROLE_USER }
    - { path: /.*, role: IS_AUTHENTICATED_ANONYMOUSLY }

#extra.config:
  #cache:   { annotations: false }

app.config:
  esi: ~
  router: { resource: "%kernel.root_dir%/config/routing.yml" }
  templating:
    escaping:       htmlspecialchars
  session:
    default_locale: en
    name:     SYMFONY
    type:     Native
    lifetime: 3600
  translator: ~
  validation:
    enabled: true

zend.config:
  logger:
    priority: info
    path:     %kernel.root_dir%/logs/%kernel.environment%.log

doctrine.dbal:
  connections:
    default:
      dbname:                       symfony2_ecommerce
      user:                         root
      password:                     ~

doctrine.orm:
  auto_generate_proxy_classes:      true
  metadata_cache_driver:            apc
  result_cache_driver:              apc
  query_cache_driver:               apc

doctrine_odm.mongodb:
  auto_generate_proxy_classes:      true
  server:                           mongodb://localhost:27017
  options:
    connect:                        true
  metadata_cache_driver:            apc
