parameters: 
    kernel.include_core_classes: false

security.config:
  providers:
    main:
      users:
        foo: { password: bar, roles: ROLE_USER }
  firewalls:
    login: { pattern: /login, security: false }
    login_check: { pattern: /_login_check, security: false }
    main:
      pattern:    /.*
      form-login: true
      http_basic: true
      logout:     true
  access_control:
    - { path: /.*, role: ROLE_USER }

extra.config: 
  cache:   { annotations: false }

app.config:
  esi: ~
  router: { resource: "%kernel.root_dir%/config/routing.yml" }
  templating:
    escaping:       htmlspecialchars
  user:
    default_locale: en
    name:     SYMFONY
    type:     Native
    lifetime: 3600
  translator: ~

zend.config:
  logger:
    priority: info
    path:     %kernel.root_dir%/logs/%kernel.environment%.log

doctrine.dbal:
  connections:
    default:
      dbname:                       symfony2_ecommerce
      user:                         root
      password:                     ~

doctrine.orm:
  auto_generate_proxy_classes:      true
  metadata_cache_driver:            apc
  result_cache_driver:              apc
  query_cache_driver:               apc

doctrine_odm.mongodb:
  auto_generate_proxy_classes:      true
  server:                           mongodb://localhost:27017
  options:
    connect:                        true
  metadata_cache_driver:            apc
